nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    height: 80px;
}

h1{
    color: black;
    font-size: 45px;
}
h2{
    font-size: arial black ;
    font-weight: 800;
    font-size: 30px;
    color: white;
}
ul li {
    display: inline-block;
    padding: 0px 20px;
}

a{
    color:rgb(255, 255, 255);
    text-decoration: none;
}

a:hover{
    color: rgb(255, 72, 0);
}