<app-navbar></app-navbar>

<div id="carousel">
    <div id="titulos">
        <p id="p1">Hello world! mi nombre es</p>
        <h2>Kevin C. R.</h2>
        <h2 id="frase">I love exploring new things</h2>
        <div id="descripcion">
            <p id="p2">Soy un desarrollador frontend, con residencia en Lima - Perú. Me interesa el mundo del desarrollo web y me gusta poder desarrollar proyectos de software para personas y empresas. Puedes consultar mi repositorio en github <a href="https://github.com/kev3334" target="_blank">aquí</a>.</p>
        </div>
    </div>
    <div id="boton">
        <button>Contáctame</button>
    </div>
    

</div>
